<h2>New customer form</h2>
<form #customerForm="ngForm" (ngSubmit)="createCustomer(customerForm)">
  <label for="name">Name</label>
  <input type="text" name="name" ngModel required minlength="5" #name="ngModel" [(ngModel)]="newCustomer.name" />
  <small *ngIf="name.invalid">Please enter a valid name</small>

  <label for="cType">Type</label>
  <select name="cType" required #cType="ngModel" ngModel placeholder="Please select" [(ngModel)]="newCustomer.type">
    <option [ngValue]="undefined" selected>Please select</option>
    <option *ngFor="let cType of cTypes">{{cType}}</option>
  </select>
  <small *ngIf="cType.invalid">Please select a type</small>

  <button type="submit" [disabled]="customerForm.invalid">Add Customer</button>
</form>

<h2>Customers list</h2>
<table spacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.name}}</td>
      <td>{{customer.type}}</td>
      <td>
        <a [routerLink]="['/customer', customer.customerId]">Open</a>
      </td>
    </tr>
  </tbody>
</table>